@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-serif: "Orbitron", serif;
    --font-sans: "Space Grotesk", sans-serif;
}

/* Make button text white in dark mode */
.dark .u-button {
    color: white;
}

/* Custom styling for Chicle font */
.font-serif {
    letter-spacing: 0.05em;
    line-height: 1.3;
}

h1.font-serif {
    font-size: 2.75rem; /* Slightly larger than text-4xl */
}

h2.font-serif {
    font-size: 1.75rem; /* Slightly larger than text-2xl */
}
